@charset "UTF-8";
@import url("sidebar.css");
@import url("header.css");
@import url("section.css");
@import url("tooltip.css");
@import url("img.css");
@import url("table.css");
@import url("sort.css");
@import url("id.css");
@import url("syntax.css");



/* CSS Document */
:root {
  /*グローバル変数を定義*/
  --theme-color: #225386;
  /*RGB(34,83,134)*/
  ;
  --font-code: 'Noto Sans Mono', 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', monospace;




  --font-size-h1: 2rem
    /*32px*/
  ;
  --font-size-h2: 1.6rem
    /*28px*/
  ;
  --font-size-h3: 1.4rem
    /*20px*/
  ;
  --font-size-h4: 1.2rem
    /*16px*/
  ;
  --font-size-h5: 1rem;
  --font-size-p: 1rem
    /*14px*/
  ;
  --font-size-p-small: 0.8rem
    /*12px*/
  ;
  --font-size-code-em: 0.9rem
    /*14px*/
  ;
  --font-size-result-em: 0.9rem
    /*14px*/
  ;

  --font-color-normal-text: #666666
    /*rgba(64,64,64,1.00)*/
  ;
  --font-color-strong-text: #333333
    /*rgba(64,64,64,1.00)*/
  ;
  --font-color-strongest-text: #000000
    /*rgba(64,64,64,1.00)*/
  ;
  --font-color-red: rgba(235, 115, 128, 1.00);
  --font-color-lightgreen: rgba(102, 218, 160, 1.00);
  --font-color-purple: rgba(186, 128, 182, 1.00);
  --font-color-lime: rgba(180, 205, 167, 1.00);
  --font-color-orange: rgba(230, 150, 120, 1.00);
  --font-color-yellow: rgba(212, 214, 154, 1.00);
  --font-color-pink: rgba(255, 0, 255, 1.00);
  --font-color-blue: rgba(0, 84, 138, 1.0);
  --font-color-green: rgba(100, 180, 50, 1.00);
  --font-color-magenta: rgba(221, 83, 158, 1.00);
  --font-color-magenta-a75: rgba(221, 83, 158, 0.75);
  --font-color-normalgreen: rgba(41, 194, 49, 1.00);
  --font-color-code: #333333;
  --font-color-code-light: #cccccc;
  --font-color-code-comment: #358A07;
  --font-color-code-details-summary: #1C4A04;

  --background-color-darkestblue: rgba(0, 25, 41, 1.0);
  --background-color-darkerblue: rgba(0, 44, 71, 1.0);
  --background-color-darkblue: rgba(0, 63, 102, 1.0);
  --background-color-dark: #666666
    /*rgba(100,100,100,1.00)*/
  ;
  --background-color-darker: #444444
    /*rgba(100,100,100,1.00)*/
  ;
  --background-color-darkest: #222222
    /*rgba(100,100,100,1.00)*/
  ;
  --background-color-lightgray: rgba(127, 127, 127, 0.1172)
    /*rgba(240, 240, 240, 1.0)*/
  ;
  --background-color-lightestgray: rgba(127, 127, 127, 0.0234)
    /*rgba(240, 240, 240, 0.2)*/
  ;

  --background-color-lighterred: #F2CEE7;
  --background-color-lightred: #F2B6E0;

  --color-blue-lightest: #cfdae5;
  --color-blue-lighter: #b6c7d7;
  --color-blue-dark: rgba(0, 63, 102, 1.0);

  --background-color-code: #cfdae5
    /*#c8c8d0*/
  ;
  --background-color-result: #f8f8f8;/*e8e8e8*/
    /*#f0f0f0*/
    /*#f0f0f0*/
    /*#CFE3FA*/
  ;
  --background-color-example: #CAE6C3
    /*#b6c7d7;*/
    /*#c0d0d8*/
  ;
  --background-color-html-header: var(--background-color-darkerblue);
}

/*
明 #e7ecf2
中間 #cfdae5
暗 #b6c7d7
グレー #f6f6f6
*/


* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Hiragino Kaku Gothic Pro", "sans-serif", YuGothic;/*, 'Yu Gothic medium', 'Hiragino Sans', Meiryo, 'sans-serif', "Hiragino Mincho Pro", "serif";*/
  font-size: 0.9rem;
  color: var(--font-color-normal-text);
  scroll-behavior: smooth;
}

body {
  /*background-color: var(--theme-color);headerの下に余白ができてしまう・・・*/
  margin: 0px;
  padding: 0px;
}

.red {
  color: var(--font-color-red);
}

.pink {
  color: var(--font-color-pink);
}

.blue {
  color: var(--font-color-blue);
}

.green {
  color: var(--font-color-green);
}

.magenta-a75 {
  color: var(--font-color-magenta-a75);
}

.magenta {
  color: var(--font-color-magenta);
}

.normalgreen {
  color: var(--font-color-green);
}

.transparent {
  color: transparent;
}

.clickable {
  font-weight: bold;
  cursor: pointer;

}

/*HTML実習の中で使うCSSのセレクタ・プロパティ・値の色*/
.css-selector {
  color: #D64D15;
}

.css-property {
  color: #2b91af;
}

.css-value {
  color: #8A2D07;
}


div.center {
  text-align: center;
}

.x-scroll {
  overflow-x: scroll;
  white-space: nowrap;
}

.x-scroll> :note(ul) {
  white-space: normal;
}

i {
  font-style: italic;
  font-family: Times new "Times New Roman", Times, "serif";
}

p.small-text {
  font-size: var(--font-size-p-small);
}

span.small-text {
  font-size: var(--font-size-p-small);
}


span.tab {
  margin-left: 24px;
}

span.notes {
  color: var(--font-color-magenta);
  font-weight: bold;
}

.font-weight-bold {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}





tt {
  font-size: 1.2em;
  font-weight: 500;
  padding: 0px 5px;
  background-color: rgba(10, 84, 138, 0.06);
  color: var(--font-color-strong-text);
}

th tt {
  color: rgba(256, 256, 256, 0.90);
}

table tt {
  background-color: transparent;
}

.small-tt td tt {
  font-size: 1em;
}

h3 tt {
  color: var(--theme-color);
  background-color: transparent;
}

h4 tt {
  background-color: transparent;
}

b tt {
  background-color: transparent;
  font-weight: 600;
}


.background-transparent {
  background-color: transparent;
}

/*Math Jax*/
mjx-container {}

mjx-container:not([display="true"]) {
  /* インラインの数式 
  font-size: 100% !important;
  font-weight: bolder;*/
  padding-left: 3px;
  padding-right: 3px;
}

mjx-container[display="true"] {
  /* ブロックの数式 */
  font-size: 125% !important;
  display: inline-grid;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.chem .mjx-math {
  font-family: 'Arial', 'Helvetica';
}


iframe {
  width: 720px;
  height: 441px;
  background-color: transparent;
  border: none;
}




code, pre {
  font-family: 'Noto Sans Mono', 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', monospace;
}


@media (max-width: 600px) {
  :root {
    --font-size-h1: 1.2rem;
    --font-size-h2: 1.2rem;
    --font-size-h3: 1.2rem;
    --font-size-h4: 1.1rem;
    --font-size-p: 1.0rem;
    --font-size-p-small: 0.8rem;
    --font-size-code-em: 0.9rem;
    --font-size-result-em: 0.9rem;
  }

  html {
    font-size: 0.9rem;
  }

  #headerbar {
    width: 100%;
    height: 60px;
    padding: 0px;
    margin: 0px;
    border-top: solid 4px;
    border-top-color: var(--theme-color);
    border-bottom: solid 4px;
    border-bottom-color: var(--theme-color);
  }

  #logo {
    width: 52px;
    height: 52px;
  }

  #img_logo {
    width: 40px;
    height: 41px;
  }

  #headerbar #main_title,
  #headerbar #main_title a {
    height: 52px;
    width: calc(100%-60px);
    line-height: 60px;
    padding-left: 0px;
    font-size: 24px;
  }

  section article {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

  #sidebar {
    right: -234px;
  }

  table {
    font-size: 0.8rem;
  }
}

@media (min-width: 601px) and (max-width: 719px) {
  :root {
    --font-size-h1: 1.2rem;
    --font-size-h2: 1.2rem;
    --font-size-h3: 1.2rem;
    --font-size-h4: 1.1rem;
    --font-size-p: 1.0rem;
    --font-size-p-small: 0.8rem;
    --font-size-code-em: 0.9rem;
    --font-size-result-em: 0.9rem;
  }

  html {
    font-size: 0.9rem;
  }

  #headerbar {
    width: 100%;
    height: 80px;
    padding: 0px;
    margin: 0px;
    border-top: solid 4px;
    border-top-color: var(--theme-color);
    border-bottom: solid 4px;
    border-bottom-color: var(--theme-color);
  }

  #logo {
    width: 72px;
    height: 72px;
  }

  #img_logo {
    width: 100%;
    height: 100%;
  }

  #headerbar #main_title,
  #headerbar #main_title a {
    height: 72px;
    width: calc(100%-60px);
    line-height: 72px;
    padding-left: 0px;
    font-size: 30px;
    vertical-align: middle;
  }

  section article {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

  table,
  th,
  td {
    font-size: 0.8rem;
  }

}

