<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSSとは</title>
    <style>
      /** ▼実習コード① ここから▼ **/
      body{
        /* ここにページ全体のスタイルを記述します */
      }
      div.test01{
        /* ここにtest01のスタイルを記述します */
      }
      div.test02{
        /* ここにtest02のスタイルを記述します */
      }
      div.test03{
        /* ここにtest03のスタイルを記述します */
      }
      div.test04{
        /* ここにtest04のスタイルを記述します */
      }
      div.test05{
        /* ここにtest05のスタイルを記述します */
      }
      
      /** ▲実習コード① ここまで▲ **/
    </style>
  </head>
  <body>
    <div class="test01">test01</div>
    <div class="test02">test02</div>
    <div class="test03">test03</div>
    <div class="test04">test04</div>
    <div class="test05">test05</div>
  </body>
</html>
